Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab_i.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab_i
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.values.at
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.keystream
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab
Android/qr/build/kotlin/compileDebugKotlin/build-history.bin
Android/nfc/build/intermediates/local_only_symbol_list/debug/parseDebugLibraryResources/R-def.txt
Android/nfc/build/intermediates/library_manifest/debug/AndroidManifest.xml
Android/nfc/build/intermediates/incremental/packageDebugResources/merger.xml
Android/nfc/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
Android/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_transition_transition_1_0_1_aar.xml
Android/.idea/libraries/Gradle__androidx_test_runner_1_2_0_aar.xml
Android/.idea/libraries/Gradle__androidx_test_runner_1_1_1_aar.xml
Android/.idea/libraries/Gradle__androidx_test_monitor_1_2_0_aar.xml
Android/.idea/libraries/Gradle__androidx_test_monitor_1_1_1_aar.xml
Android/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_1_aar.xml
Android/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_2_0_aar.xml
Android/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_1_1_aar.xml
Android/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_2_0_aar.xml
Android/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_1_1_aar.xml
Android/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_jar.xml
Android/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0_jar.xml
Android/.idea/libraries/Gradle__androidx_activity_activity_ktx_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
Android/.idea/caches/build_file_checksums.ser
Android/.idea/Android.iml
Android/.gradle/vcs-1/gc.properties
Android/.gradle/buildOutputCleanup/outputFiles.bin
Android/.gradle/buildOutputCleanup/cache.properties
Android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Android/.gradle/5.4.1/javaCompile/taskHistory.bin
Android/.gradle/5.4.1/javaCompile/javaCompile.lock
Android/.gradle/5.4.1/javaCompile/jarAnalysis.bin
Android/.gradle/5.4.1/javaCompile/classAnalysis.bin
Android/.gradle/5.4.1/gc.properties
Android/.gradle/5.4.1/fileHashes/resourceHashesCache.bin
Android/.gradle/5.4.1/fileHashes/fileHashes.lock
Android/.gradle/5.4.1/fileHashes/fileHashes.bin
Android/.gradle/5.4.1/fileContent/fileContent.lock
Android/.gradle/5.4.1/fileChanges/last-build.bin
Android/.gradle/5.4.1/executionHistory/executionHistory.lock
Android/.gradle/5.4.1/executionHistory/executionHistory.bin
Android/nfc/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
Android/nfc/build/intermediates/incremental/packageDebugAssets/merger.xml
Android/nfc/build/intermediates/incremental/mergeDebugShaders/merger.xml
Android/nfc/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
Android/nfc/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
Android/nfc/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
Android/nfc/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output.json
Android/nfc/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
Android/nfc/build/generated/source/buildConfig/debug/com/example/nfc/BuildConfig.java
Android/nfc/build/.transforms/bae6dd586182db90f4f8dd55db2d907a.bin
Android/nfc/build/.transforms/34a6ff323307e305d1818cf6ce076734/full/classes.dex
Android/nfc/build/.transforms/34a6ff323307e305d1818cf6ce076734.bin
Android/local.properties
Android/database/database.iml
Android/app/app.iml
Android/POP.iml
Android/.idea/libraries/Gradle__androidx_navigation_navigation_common_2_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_1_0_jar.xml
Android/.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_fragment_fragment_ktx_1_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_exifinterface_exifinterface_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_core_core_ktx_1_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_core_core_1_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_1_1_3_jar.xml
Android/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_1_1_3_aar.xml
Android/.idea/libraries/Gradle__androidx_collection_collection_1_1_0_jar.xml
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab_i.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab_i
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.values.at
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.keystream
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/counters.tab
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
Android/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
Android/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
Android/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
Android/.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0_jar.xml
Android/.idea/libraries/Gradle__junit_junit_4_12_jar.xml
Android/.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
Android/.idea/libraries/Gradle__io_reactivex_rxjava2_rxjava_2_1_11_jar.xml
Android/.idea/libraries/Gradle__io_reactivex_rxjava2_rxandroid_2_0_2_aar.xml
Android/.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_3_0_jar.xml
Android/.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_3_0_jar.xml
Android/.idea/libraries/Gradle__com_squareup_retrofit2_adapter_rxjava2_2_3_0_jar.xml
Android/.idea/libraries/Gradle__com_squareup_picasso_picasso_2_71828_aar.xml
Android/.idea/libraries/Gradle__androidx_test_core_1_2_0_aar.xml
Android/.idea/libraries/Gradle__androidx_test_core_1_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_preference_preference_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_navigation_navigation_ui_ktx_2_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_navigation_navigation_ui_2_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_navigation_navigation_runtime_ktx_2_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_navigation_navigation_runtime_2_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_navigation_navigation_fragment_ktx_2_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_navigation_navigation_fragment_2_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_navigation_navigation_common_ktx_2_1_0_aar.xml
Android/.idea/workspace.xml
Android/.idea/modules.xml
Android/.idea/libraries/Gradle__org_reactivestreams_reactive_streams_1_0_2_jar.xml
Android/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_common_1_1_1_jar.xml
Android/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_1_1_1_jar.xml
Android/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_1_1_jar.xml
Android/.idea/libraries/Gradle__org_jetbrains_annotations_13_0_jar.xml
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
Android/.idea/libraries/Gradle__com_squareup_okio_okio_1_15_0_jar.xml
Android/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_12_1_jar.xml
Android/.idea/libraries/Gradle__com_squareup_okhttp3_logging_interceptor_3_12_1_jar.xml
Android/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
Android/.idea/libraries/Gradle__com_google_code_gson_gson_2_7_jar.xml
Android/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
Android/.idea/libraries/Gradle__com_google_android_material_material_1_0_0_aar.xml
Android/.idea/libraries/Gradle__com_github_bumptech_glide_glide_4_8_0_aar.xml
Android/.idea/libraries/Gradle__com_github_bumptech_glide_gifdecoder_4_8_0_aar.xml
Android/.idea/libraries/Gradle__com_github_bumptech_glide_disklrucache_4_8_0_jar.xml
Android/.idea/libraries/Gradle__com_github_bumptech_glide_annotations_4_8_0_jar.xml
Android/.idea/libraries/Gradle__com_bignerdranch_android_expandablerecyclerview_3_0_0_RC1_aar.xml
Android/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
Android/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
Android/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.values.at
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.keystream.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.keystream
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab
Android/qr/build/intermediates/symbols/debug/R.txt
Android/qr/build/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
Android/qr/build/intermediates/packaged_res/debug/values/values.xml
Android/qr/build/intermediates/merged_manifests/debug/output.json
Android/qr/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
Android/qr/build/intermediates/local_only_symbol_list/debug/parseDebugLibraryResources/R-def.txt
Android/qr/build/intermediates/library_manifest/debug/AndroidManifest.xml
Android/qr/build/intermediates/incremental/packageDebugResources/merger.xml
Android/qr/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
Android/qr/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
Android/qr/build/intermediates/incremental/packageDebugAssets/merger.xml
Android/qr/build/intermediates/incremental/mergeDebugShaders/merger.xml
Android/qr/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
Android/qr/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
Android/qr/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
Android/qr/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output.json
Android/qr/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
Android/qr/build/generated/source/buildConfig/debug/com/example/qr/BuildConfig.java
Android/qr/build/.transforms/d0605641b80a43523f83aefc63920ad6.bin
Android/qr/build/.transforms/9db843d2cf85beb510441497e0334e98/full/classes.dex
Android/qr/build/.transforms/9db843d2cf85beb510441497e0334e98.bin
Android/nfc/build/outputs/logs/manifest-merger-debug-report.txt
Android/nfc/build/intermediates/symbols/debug/R.txt
Android/nfc/build/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
Android/nfc/build/intermediates/packaged_res/debug/values/values.xml
Android/nfc/build/intermediates/merged_manifests/debug/output.json
Android/nfc/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
Android/webservice/webservice.iml
Android/qr/build/tmp/kotlin-classes/debug/META-INF/qr_debug.kotlin_module
Android/qr/build/outputs/logs/manifest-merger-debug-report.txt
Android/qr/build/kotlin/compileDebugKotlin/last-build.bin
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab_i.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab_i
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.values.at
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab_i
Android/qr/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.keystream
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.keystream
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab_i.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab_i
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.values.at
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab.keystream
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab_i.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab_i
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.values.at
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/inputs/source-to-output.tab
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/file-to-id.tab
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/counters.tab
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.values.at
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.values.at
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab_i
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab_i
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.values.at
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.keystream.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/supertypes.tab
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
Android/nfc/build/kotlin/compileDebugKotlin/build-history.bin
Android/app/src/main/java/com/example/pop/SellItemsActivity.kt.orig
Android/app/src/main/AndroidManifest.xml.orig
Android/nfc/build/tmp/kotlin-classes/debug/META-INF/nfc_debug.kotlin_module
Android/nfc/build/kotlin/compileDebugKotlin/last-build.bin
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab_i.len
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/id-to-file.tab.values.at
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i.len
Android/qr/qr.iml.orig
Android/nfc/build/kotlin/compileDebugKotlin/caches-jvm/lookups/lookups.tab.keystream
