<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/buyers"
        android:label="@string/screenTitle"
        tools:replace="android:label"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBar"
        android:name="com.example.core.BaseApp"
        >
        <activity android:name="com.example.nfc.GetNfcMessageActivity"></activity>
        <activity android:name=".InvoiceDetailsActivity" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name="com.example.qr.QRCodeActivity" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name="com.example.android_code.CodeActivity" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name="com.example.android_code.CodePaymentActivity" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name="com.example.nfc.SetNfcMessageActivity" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".SellItemsActivity" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".ShowInvoicesActivity" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".ShowWalletBalanceActivity" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".ShowItemsActivity"
            android:theme="@style/AppTheme" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".ManagePackagesActivity" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".MainMenuSeller"
            android:theme="@style/AppTheme" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".MainMenuBuyer"
            android:theme="@style/AppTheme" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/AppTheme" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".ManageProductsActivity" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>